/* src/components/Collapse.module.css */

.collapse {
  background: #ff6060;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
  overflow: hidden;
  height: 10%;
}

/* En-tête cliquable */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
}

.title {
  font-size: 1rem;
}

.arrow {
  transition: transform 0.5s ease;
  width: 20px;
  height: 20px;
}

.arrowOpen {
  transform: rotate(180deg);
}

.content {
  max-height: 0;
  opacity: 0;
  padding: 0 1rem;
  transition: max-height 0.5s ease-in-out, 
              opacity 0.5s ease-in-out, 
              padding 0.5s ease-in-out;
}

.contentOpen {
  max-height: 9999px; 
  opacity: 1;
  padding: 1rem;
}

.line {
  margin: 0 0 0.5rem;
}

.char {
  display: inline-block;
  opacity: 0;
  animation: fadeUp 0.3s forwards ease;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
